@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Roboto Slab', serif !important;
  font-optical-sizing: auto;
}
html {
  font-size: 18px;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
